/* Advisor/Course/Post/Post.wxss */
.headNav{
  background-color: white;
  height: 68rpx;
  padding-top: 80rpx;
  display: flex;
  flex-direction: row;
  width: 100vw;
  border-bottom: 1rpx solid #C8C8C8;
  font-weight: 500;
  line-height: 40rpx;
  position: fixed;
  z-index: 999;
  overflow: hidden;
}
.navBack{
  width: 50rpx;
  height: 40rpx;
  margin-left: 20rpx;
}
.navBack image{
  width: 50rpx;
  height: 40rpx;
}
.headNav view{
  width: 33%;
}
.head_text{
  text-align: center;
}


/* progressBar */
.progressBar{
  width: 95vw;
  margin: 0 auto;
  padding-left: 10rpx;
  display: flex;
}
.progressBar_1{
  flex: 1;
  color: #3C4257;
}
.progressBar_1_line{
  width: 90%;
  height: 9rpx;
  border-radius: 50rpx;
  background-color: #C1C9D2;
}
.progressBar_1_box{
  display: flex;
  margin-top: 12rpx;
}
.progressBar_1_box_img{
  width: 40rpx;
  height: 40rpx;
}
.progressBar_1_box_img image{
  width: 100%;
  height: 100%;
}
.progressBar_1_box_text{
  margin-left: 10rpx;
  font-size: 27rpx;
}
.item_title{
  margin: 35rpx 0;
  font-weight: bold;
}
input{
  width: 82vw;
  font-size: 35rpx;
  line-height: 100rpx;
  height: 100rpx;
  background-color: #F6F7FA;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 10rpx;
}
.Approx{
  width: 85vw;
  font-size: 35rpx !important;
  padding: 15rpx;
}
.item_coll{
  width: 95vw;
  position: absolute;
}
.item_pos{
  margin-top: 180rpx;
}
.item_coll_1{
  z-index: 999;
}
.item_coll_2{
  z-index: 998;
}
.item_coll_3{
  z-index: 997;
}
.item_coll_4{
  z-index: 996;
}
.inRadius{
  width: 82vw;
  background-color: #F6F7FA;
  padding: 5%;
  border-radius: 10rpx;
}
.skill{
  display: inline-block;
}
.skill_content{
  float: left;
  margin-top: 20rpx;
  border-radius: 8rpx;
  padding: 10rpx 20rpx 10rpx 30rpx;
  font-size: 30rpx;
  background: #9D9FA033;
  margin-left: 10rpx;
  display: flex;
  color: #757F8C;
}
.skill_content_del{
  line-height: 50rpx;
  margin-left: 15rpx;
  font-size: 30rpx;
}
.swiBtn{
  margin-top: 30rpx;
  background-color: white;
  border: 1rpx solid #21A5DD;
  border-radius: 20rpx;
  color: #21A5DD;
  padding-top: 30rpx;
  margin-bottom: 30rpx;
}
.swiBtn1{
  margin-top: 150rpx;
  background-color: #21A5DD;
  color: white;
}
.item_video{
  padding-top: 60rpx;
  width: 92vw;
  border-radius: 20rpx;
  height: 200rpx;
  border: 1rpx dashed  #A5ABB2;
  text-align: center;
  font-size: 30rpx;
  color: #757F8C;
}
.item_video image{
  width: 75rpx;
  height: 75rpx;
}
.selet{
  width: 90vw;
  margin-top: 200rpx;
}
.van-cell{
  font-size: 20rpx;
}
.selet_content{
  background-color: #F6F7FA;
  margin-left: -30rpx;
  padding-left: 30rpx;
  font-size: 35rpx;
  font-weight: bold;
}


.test{
  position: relative;
}
.test::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
}


.selfInfo{
  padding-left: 40rpx;
  display: flex;
  flex-direction: row;
  padding-bottom: 20rpx;
  border-bottom: 25rpx solid rgb(245, 245, 245);
}
.selfInfo_img{
  width: 130rpx;
  height: 130rpx;
  border-radius: 10rpx;
}
.selfInfo_img image{
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 10rpx;
}
.selfInfo_img_modify{
  position: absolute;
  margin-left: 100rpx;
  margin-top: -40rpx;
  padding: 10rpx;
  text-align: center;
  line-height: 10rpx;
  width: 20rpx;
  height: 20rpx;
  background-color: #f5f5f5;
  z-index: 99999;
  border-radius: 100rpx;
}
.selfInfo_info{
  margin-left: 20rpx;
}
.selfInfo_info1{
  font-size: 45rpx;
  font-weight: bold;
}
.selfInfo_info2{
  font-size: 30rpx;
  color: rgb(145, 145, 145);
  margin-top: 18rpx;
}
.selfInfo_modify{
  position: absolute;
  margin-left: 83vw;
  margin-top: 10rpx;
}
.selfInfo_position{
  position: absolute;
  margin-top: 170rpx;
  font-size: 30rpx;
  color: #222222;
}
.Columns{
  margin-top: 30rpx;
  padding-bottom: 10rpx;
}
.Columns_text{
  display: flex;
  flex-direction: row;
}
.Columns_text_left{
  line-height: 10rpx;
  margin-left: 30rpx;
  font-size: 30rpx;
  font-weight: bold;
}
.Columns_text_left3{
  line-height: 10rpx;
  font-size: 25rpx;
  font-weight: bold;
  color: #ff0800;
}
.Columns_text .van-icon{
  margin-top: -20rpx;
}
.Columns_text_right{
  line-height: 10rpx;
  float:right;
  font-size: 28rpx;
  position:absolute;
  margin-left: 87vw;
}
.aboutBox{

}
.aboutBox_test{
  margin: 30rpx auto;
  width: 600rpx;
  font-size: 35rpx;
  height: 100rpx;
  background-color: #f5f5f5;
  border-radius: 10rpx;
}
.aboutBox_test23{
  margin: 30rpx auto;
  width: 90vw;
  font-size: 50rpx;
  height: 100rpx;
  background-color: #f5f5f5;
  border-radius: 10rpx;
}
.aboutBox1{
  border-bottom: 15rpx solid rgb(245, 245, 245);
}
.aboutBox_test1{
  margin: 30rpx auto;
  width: 90vw;
  font-size: 30rpx;
  height: 300rpx;
  background-color: #f5f5f5;
  border-radius: 10rpx;
}
.Columns1{
  margin-top: 30rpx;
  padding-bottom: 30rpx;
}
.Columns_text1{
  display: flex;
  flex-direction: row;
}
.Columns_text_left1{
  line-height: 10rpx;
  margin-left: 30rpx;
  font-size: 40rpx;
  font-weight: bold;
}
.Columns_text .van-icon{
  margin-top: -20rpx;
}
.Columns_text_right1{
  line-height: 10rpx;
  float:right;
  font-size: 28rpx;
  position:absolute;
  margin-left: 87vw;
}
.Resume{
  display: flex;
  flex-direction: row;
  padding-left: 5vw;
  border-bottom: 15rpx solid rgb(245, 245, 245);
  padding-bottom: 50rpx;
}
.Resume_file{
  width: 43vw;
  height: 250rpx;
  border: 1rpx dashed rgb(145, 145, 145);
  border-radius: 20rpx;
}
.Resume_file1{
  width: 43vw;
  height: 250rpx;
  background: #F6F7FA;
  border-radius: 20rpx;
}
.Resume_file_text1{
  position: absolute;
  margin-top: 100rpx;
  color: #21A5DD;
  width: 150rpx;
  font-size: 27rpx;
  margin-left: 83rpx;
  border: 1rpx solid #21A5DD;
  border-radius: 100rpx;
  height: 50rpx;
  text-align: center;
  line-height: 50rpx;
}
.Resume_video{
  width: 43vw;
  height: 250rpx;
  border-radius: 20rpx;
  margin-left: 2vw;
}
.Resume_file{
  text-align: center;
}
.Resume_file_img{
  margin: 0 auto;
  margin-top: 80rpx;
  width: 70rpx;
  height: 70rpx;
}
.Resume_file_img image{
  width: 100%;
  height: 100%;
}
.Resume_file_text{
  font-size: 23rpx;
  color: rgb(145, 145, 145);
}
.button{
  margin-top: 50rpx;
  background-color: #21A5DD;
  color:#ffffff;
  margin-bottom: 50rpx;
}