/* pages/Advisors/info/info.wxss */
.navBack0{
  position: fixed;
  width: 50rpx;
  height: 40rpx;
  top: 100rpx;
  left: 30rpx;
  z-index: 999;
}
.navBack1{
  display: none;
}
.navBack0 image{
  width: 50rpx;
  height: 40rpx;
}
.video video{
  width: 100vw;
  height: 380rpx;
}
.video .van-icon0{
  z-index: 999;
  display: flex;
  justify-content: center;
  margin-top: -240rpx;
}
.video .van-icon1{
  opacity: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  margin-top: -240rpx;
}
.advisorsInfo{
  margin-top: 135rpx;
  padding-top: 18rpx;
  padding-left: 30rpx;
  display: flex;
  flex-direction: row;
}
.advisorsInfo_img{
  width: 150rpx;
  height: 150rpx;
  background-color: rgb(196, 196, 196);
  border-radius: 100%;
}
.advisorsInfo_info{
  margin-left: 20rpx;
  margin-top: 20rpx;
}
.advisorsInfo_info_name{
  font-size: 35rpx;
  font-weight: bold;  
  display: flex;
  flex-direction: row;
}
.advisorsInfo_info_name image{
  width: 40rpx;
  height: 40rpx;
}
.advisorsInfo_info_country{
  margin-top: 20rpx;
  font-size: 25rpx;
  color: rgb(222, 222, 222);
}
.advisorsInfo_info_more{
  position: absolute;
  margin-top: 20rpx;
  margin-left: 80vw;
}
.advisorsInfo_info_more image{
  width: 70rpx;
  height: 70rpx;
}


.active{
  display: flex;
  flex-direction: row;
  margin-left: 35rpx;
  margin-top: 15rpx;
}
.active_fans{
  position: absolute;
  line-height: 70rpx;
  margin-top: 5rpx;
  padding-right: 25rpx;
  font-size: 25rpx;
  color: rgb(130, 130, 130);
  height: 70rpx;
  border-right: 1rpx solid black;
}
.active_like{
  width: 80rpx;
  height: 80rpx;
  margin-left: 190rpx;
}
.active_like image{
  width: 45rpx;
  height: 45rpx;
}
.active_chat{
  border: #21A5DD 5rpx solid;
  color: #21A5DD;
  text-align: center;
  border-radius: 20rpx;
  margin-left: 10rpx;
  width: 200rpx;
  font-size: 35rpx;
  line-height: 80rpx;
}
.active_follow{
  border: #FBA928 5rpx solid;
  color: #FBA928;
  text-align: center;
  border-radius: 20rpx;
  margin-left: 10rpx;
  width: 200rpx;
  font-size: 35rpx;
  line-height: 80rpx;
}


.ExpertiseBox{
  display: flex;
  flex-direction: row;
  margin-top: 40rpx;
  margin-left: 20rpx;
}
.Expertise{
  padding: 5rpx 20rpx 5rpx 20rpx;
  border: #21A5DD 5rpx solid;
  color: #21A5DD;
  text-align: center;
  font-size: 25rpx;
  margin-left: 10rpx;
  border-radius: 30rpx;
}


.ICA{
  margin-top: 30rpx;
}
.van-tab{
  padding-top: 100rpx;
}
/* Introduction */
.Introduction{
  margin-left: 25rpx;
}
.Introduction_Main{
  font-size: 35rpx;
  font-weight: bold;
}
.Introduction_Sub{
  font-size: 30rpx;
  font-weight: bold;
}
.Introduction_text{
  margin-top: 20rpx;
  width: 90vw;
  font-size: 25rpx;
  letter-spacing: 2rpx;
  line-height: 43rpx;
}
.Introduction_chat{
  background-color: rgb(56, 56, 56);
  color: white;
  text-align: center;
  border-radius: 20rpx;
  margin: 30rpx auto;
  width: 500rpx;
  height: 100rpx;
  font-size: 35rpx;
  line-height: 100rpx;
}
.Introduction_chatclick{
  opacity: 0.9;
}
.Courses{
  margin-left: 25rpx;
}
/* OC */
.Columns{
  margin-top: 40rpx;
  margin-left: -20rpx;
  border-bottom: 1rpx solid rgb(242, 242, 242);
  padding-bottom: 40rpx;
}
.Columns_text{
  display: flex;
  flex-direction: row;
}
.Columns_text_left{
  line-height: 10rpx;
  margin-left: 30rpx;
  font-size: 35rpx;
  font-weight: bold;
}
.Columns_text_right{
  line-height: 10rpx;
  float:right;
  color: #C8C8C8;
  font-size: 28rpx;
  position:absolute;
  margin-left: 83vw;
}
.OngoingCourses{
  padding-top: 30rpx;
}
.OngoingCourses_box{
  padding: 20rpx;
  display: inline-block;
  width: 550rpx;
  height: 230rpx;
  margin-left: 10rpx;
  border-radius: 15rpx;
  background-color: rgb(246, 247, 250);
}
.OngoingCourses_box_img{
  background-color: rgb(196, 196, 196);
  width: 150rpx;
  height: 150rpx;
  border-radius: 20rpx;
}
.OngoingCourses_box_title{
  margin-left: 20rpx;
  width: 280rpx;
  line-height: 40rpx;
}
.OngoingCourses_box_title1{
  font-size: 28rpx;
  display: -webkit-box;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: normal !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.OngoingCourses_box_title2{
  margin-top: 15rpx;
  font-size: 23rpx;
  color: rgb(140, 140, 140);
}
.OngoingCourses_box_button{
  position: absolute;
  width: 100rpx;
  height: 40rpx;
  margin-left: 450rpx;
  border-radius: 100rpx;
  font-size: 25rpx;
  line-height: 40rpx;
  text-align: center;
  background-color: rgb(229, 229, 229);
}
.OngoingCourses_box_progress{
  position: absolute;
}
/* All Courses */
.AllCourses{
  margin-left: -20rpx;
  margin-bottom: 40rpx;
}
.AllCourses_box{
  padding: 20rpx;
  display: flex;
  flex-direction: row;
  width: 85vw;
  margin: 0 auto;
  margin-top:20rpx;
  border-radius: 15rpx;
  background-color: rgb(246, 247, 250);
}
.AllCourses_box_img{
  background-color: rgb(196, 196, 196);
  width: 150rpx;
  height: 150rpx;
  border-radius: 20rpx;
}
.AllCourses_box_title{
  margin-left: 20rpx;
  width: 65vw;
  line-height: 40rpx;
}
.AllCourses_box_title1{
  font-size: 28rpx;
  display: -webkit-box;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: normal !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.AllCourses_box_title2{
  margin-top: 15rpx;
  font-size: 23rpx;
  color: rgb(140, 140, 140);
}
/* Articles */

.Articles_box{
  width: 85vw;
  margin: 20rpx auto;
  border-radius: 20rpx;
  background-color: rgb(246, 246, 246);
  padding: 25rpx;
  display: flex;
  flex-direction: row;
}
.Articles_box_img{
  width: 250rpx;
  height: 250rpx;
  background-color: rgb(196, 196, 196);
  border-radius: 25rpx;
}
.Articles_box_img image{
  width: 100%;
  height: 100%;
}
.Articles_box_text{
  margin-left: 20rpx;
  flex-direction: column;
}
.Articles_box_text1_like{
  text-align: right;
}
.Articles_box_text1_like image{
  width: 50rpx;
  height: 50rpx;
}
.Articles_box_text1_title{
  width: 380rpx;
  font-size: 30rpx;
  line-height: 50rpx;
}
.Articles_box_text1_time{
  margin-top: 10rpx;
  font-size: 25rpx;
  color: rgb(140, 140, 140);
}
.Articles_box_text1_share{
  margin-left: 150rpx;
  display: flex;
  flex-direction: row;
  font-size: 25rpx;
  color: rgb(140, 140, 140);
}
.Articles_box_text1_share image{
  width: 40rpx;
  height: 40rpx;
}