/* pages/Account/Profile/Settings.wxss */
.headNav{
  background-color: white;
  height: 68rpx;
  padding-top: 80rpx;
  display: flex;
  flex-direction: row;
  width: 100vw;
  border-bottom: 1rpx solid #C8C8C8;
  font-weight: 500;
  line-height: 40rpx;
  position: fixed;
  z-index: 999;
  overflow: hidden;
}
.navBack{
  width: 50rpx;
  height: 40rpx;
  margin-left: 20rpx;
}
.navBack image{
  width: 50rpx;
  height: 40rpx;
}
.headNav view{
  width: 33%;
}
.head_text{
  text-align: center;
}


/* MJA_Box */
.MJA_Box{
  padding-left: 30rpx;
  border-bottom: 25rpx solid rgb(245, 245, 245);
}
.MJA{
  font-size: 37rpx;
  font-weight: bold;
  padding-top: 180rpx;
  margin-bottom: 50rpx;
  color: #1A1A1A;
}
.workExp{
  display: flex;
  flex-direction: column;
}
.workExp_name{
  font-size: 35rpx;
  font-weight: bold;
  color: #1A1A1A;
}
.workExp_time{
  font-size: 30rpx;
  color: rgb(145, 145, 145);
  margin-top: 10rpx;
}
.workExp_change{
  position: absolute;
  margin-left: 85vw;
  margin-top: 35rpx;
}
.workExp_line{
  width: 400rpx;
  height: 1px;
  background-color: rgb(230, 230, 230);
  margin-top: 30rpx;
  margin-bottom: 20rpx;
}


/* JobRec */
.JobRec{
  padding-left: 30rpx;
  padding-bottom: 30rpx;
  border-bottom: 25rpx solid rgb(245, 245, 245);
}
.JobRec_text{
  font-size: 37rpx;
  font-weight: bold;
  padding-top: 30rpx;
  margin-bottom: 50rpx;
  color: #1A1A1A;
}
.JobRec_box{
  display: flex;
  flex-direction: row;
}
.JobRec_box_text{
  flex-wrap: nowrap;
  width: 200rpx;
}
.JobRec_box_switch{
  margin-left: 50vw;
  margin-top: -10rpx;
}
.JobRec_box_switch switch{
  transform: scale(0.7,0.7);
}


/* Security */
.SecurityBox_text{
  margin-left: 30rpx;
  font-size: 37rpx;
  font-weight: bold;
  padding-top: 30rpx;
  margin-bottom: 50rpx;
  color: #1A1A1A;
}
.van-cell{
  font-size: 50rpx;
}
.SecurityBox_line{
  width: 300rpx;
  height: 1rpx;
  margin-left: 35rpx;
  background-color: rgb(200, 200,  200);
}