/* pages/Home/ArticleDetail/ArticleDetail.wxss */
.video{
  width: 100%;
  height: 500rpx;
  background-color: #f5f5f5;
}
.CourseTitle{
  margin-top: 30rpx;
  margin-left: 38rpx;
  border-bottom: 5rpx solid #f5f5f5;
}
.CourseTitle1{
  margin-top: 30rpx;
  margin-left: 38rpx;

}
.CourseTitle_title{
  font-size: 36rpx;
  font-weight: bold;
  color: #292a6f;
}
.CourseTitle_title1{
  color: #292a6f;
  font-size: 36rpx;
  font-weight: bold;
}
.CourseTitle_time{
  display: flex;
  flex-direction: row;
}
.CourseTitle_time1{
  font-size: 32rpx;
  color: rgb(140, 140, 140);
  margin-top: 20rpx;
  padding-right: 30rpx;
  border-right: 1rpx rgb(140, 140, 140) solid;
}
.CourseTitle_time2{
  font-size: 32rpx;
  margin-top: 20rpx;
  margin-left: 30rpx;
}
.CourseTitle_time3{
  font-size: 32rpx;
  color: #000000;
  margin-top: 20rpx;
  margin-left: 10rpx;
  display: flex;
  margin-bottom: 20rpx;
}
.advisorsInfo_info_more{
  position: absolute;
  margin-left: 300rpx;
}
.advisorsInfo_info_more image{
  width: 70rpx;
  height: 70rpx;
}