/* Advisor/Signup/Signup.wxss */
.box{
  margin-top: 5vh;
  text-align: center;
}
.logo{
  margin: 0 auto;
  width: 250rpx;
  height: 400rpx;
  border-radius: 20rpx;
  background-color: rgb(247, 247, 247);
  margin-bottom: 100rpx;
  margin-top: 50rpx;
}
.logo image{
  width: 100%;
  height: 100% ;
}
.welcome{
  font-size: 50rpx;
  font-weight: bold;
  color: #1A1A1A;
}
.text{
  margin: 20rpx auto;
  width: 90vw;
  font-size: 33rpx;
  color: #969696;
}
.button{
  margin: 100rpx auto;
  width: 70vw;
  height: 110rpx;
  color: white;
  font-size: 35rpx;
  border-radius: 15rpx;
  line-height: 110rpx;
  background-color: #21A5DD;
}