/* pages/Account/LikedShared/LikedShared.wxss */
.headNav{
  background-color: white;
  height: 68rpx;
  display: flex;
  flex-direction: row;
  width: 100vw;
  border-bottom: 1rpx solid #C8C8C8;
  font-weight: 500;
  line-height: 40rpx;
  position: fixed;
  z-index: 999;
  overflow: hidden;
}
.navBack{
  width: 50rpx;
  height: 40rpx;
  margin-left: 20rpx;
}
.navBack image{
  width: 50rpx;
  height: 40rpx;
}
.headNav view{
  width: 33%;
}
.head_text{
  text-align: center;
}
.Columns{
  padding-top: 20rpx;
  padding-bottom: 40rpx;
}
.Columns_text{
  display: flex;
  flex-direction: row;
}
.Columns_text_left{
  line-height: 10rpx;
  margin-left: 30rpx;
  font-size: 35rpx;
  font-weight: bold;
  color: #1A1A1A;
}
.Columns_text_right{
  line-height: 10rpx;
  float:right;
  color: #C8C8C8;
  font-size: 30rpx;
  position:absolute;
  margin-left: 80vw;
  font-weight: bold;
}

/* jobs */
.Jobs_box{
  z-index: -9999;
  width: 100%;
  padding-bottom: 120rpx;
  margin-bottom: 15rpx;
  padding-top: 15rpx;
  border-bottom: rgb(245, 245, 245) 15rpx solid;
  display: flex;
  flex-direction: row;
}
.Jobs_box_img{
  width: 140rpx;
  height: 140rpx;
  border-radius: 20rpx;
  background-color: rgb(219, 219, 219);
  margin-top: 20rpx;
  margin-left: 30rpx;
}
.Jobs_box_img image{
  width: 140rpx;
  height: 140rpx;
}
.Jobs_box_info{
  line-height: 45rpx;
  letter-spacing: 2rpx;
  margin-top: 20rpx;
  margin-left: 20rpx;
}
.Jobs_box_info_title{
  font-size: 33rpx;
  font-weight: bold;
  color: #1A1A1A;
}
.Jobs_box_info_name{
  font-size: 28rpx;
  color: #1A1A1A;
}
.Jobs_box_info_pay{
  font-size: 21rpx;
  color: rgb(200, 200, 200);
}
.Jobs_box_info_arrow{
  position: absolute;
  margin-left: 88%;
  line-height: 180rpx;
}
.Jobs_box_time{
  width: 92vw;
  border-top: 1rpx solid rgb(230, 230, 230);
  position: absolute;
  font-size: 21rpx;
  margin-left: 30rpx;
  padding-top: 20rpx;
  margin-top: 195rpx;
  color: rgb(200, 200, 200);
}
.Jobs_box_time_time{
  float: left;
}
.Jobs_box_time_status{
  float: right;
  padding: 3rpx 15rpx 3rpx 15rpx;
  color: #21A5DD;
  border: 1rpx solid #21A5DD;
  border-radius: 100rpx;
  font-size: 28rpx;
}