<!--pages/Account/LikedShared/LikedShared.wxml-->
<view class="Columns">
  <view class="Columns_text">
    <view class="Columns_text_left">All Liked & shared</view>
    <view bindtap="clearAll" class="Columns_text_right">Clear All</view>
  </view>
</view>


<view class="Jobs" wx:if="{{profile}}">  
 <view class="Jobs_box" wx:for="{{all}}" wx:key="index" data-id="{{item.id}}" bindtap="gojob">
    <view class="Jobs_box_img">
      <image src="{{item.category_icon}}"></image>
    </view>
    <view class="Jobs_box_info">
      <view class="Jobs_box_info_title">{{item.job_description}}</view>
      <view class="Jobs_box_info_name">{{item.employer.firstname}} {{item.employer.lastname}}</view>
      <view class="Jobs_box_info_pay">{{item.location}} {{item.currency}}:{{item.salary_range}}</view>
    </view>
    <view class="Jobs_box_info_arrow">
      <van-icon size="60rpx" name="arrow" />
    </view>
    </view>
</view>
