<!--pages/Home/SuggestedArticle/SuggestedArticle.wxml-->
<view class="Suggested_Articles" >
  <view class="Articles_box" wx:for="{{articles}}" wx:key="index">
    <view class="Articles_box_img" bindtap="goarticle" data-id="{{item.id}}">
    <image class="Articles_box_img1" src="{{item.postimage}}"></image>
    </view>
    <view class="Articles_box_text">
      <view class="Articles_box_text1_like" style="opacity:{{0.8}}">
        <image src="{{favor_img}}" bindtap="Like1" wx:if="{{show === true}}" mode="widthFix"></image>
        <image src="{{favor_img2}}" bindtap="Like1" wx:else mode="widthFix"></image>
      </view>
      <view class="Articles_box_text1_title" bindtap="goarticle" data-id="{{item.id}}">
        {{item.name}}
      </view>
      <view class="Articles_box_text1_share">
          <text>{{item.likes}}Likes</text>

          <image src="../static/tabbarLogo/share.png"></image>
          <button  open-type="share" style="position: relative; width: 82rpx; height: 50rpx; display: block; box-sizing: border-box;margin-left: 0;"><view style="position: relative; margin-left: 0rpx; top: -8rpx; width: 103rpx; height: 34rpx; display: block; box-sizing: border-box; font-size: 25rpx; color: rgb(140,140,140); left: -54rpx">Share</view></button>
          </view>
        </view>
      </view>

</view>