<!--Advisor/Course/Post/Preview/Preview.wxml-->

<view class="PreTitle1">Course Video</view>

<view class="video">
  <video id="video" src="{{videoPath}}" object-fit="fill" controls="{{controls}}" bindpause="videoStop"
    show-center-play-btn="{{false}}"></video>
  <van-icon class="{{van_icon == 0 ? 'van-icon0' : 'van-icon1'}}" name="play-circle" color="white" size="100rpx"
    bindtap="videoPlay" />
</view>


<view class="box">
  <view class="PreTitle">{{Title}}</view>
  <view class="PreTime">
    <view class="PreTime_1">{{housr}}</view>
    <view class="PreTime_2">{{week}}</view>
  </view>
  <view class="PreTitle">About this Course</view>
  <view class="PreText">{{Course}}</view>
  <view class="PreTitle">What will you learn</view>
  <view class="PreText">{{learn}}</view>
  <view class="PreTitle">What skill you will gain</view>
  <view class="skill">
    <view class="skill_content" wx:key="index" wx:for="{{skill}}">
      {{item}}
    </view>
  </view>
</view>

<view class="box1">
  <view class="PreTitle">Course Syllabus</view>
  <view class="PreText">{{Syllabus}}</view>
  <view class="PreTitle">Course Notes</view>
  <view class="PreText">{{Notes}}</view>
</view>

<view class="box1">
  <view class="PreTitle">Shareable Certificate</view>
</view>
<view class="post">Post</view>