<!--pages/Chat/Chat.wxml-->


<view class="search">
  <van-search bind:focus="test"></van-search>
  <image src="../static/tabbarLogo/notice.png" bindtap="goNo" ></image>
</view>

<view class="Columns">
  <view class="Columns_text">
    <view class="Columns_text_left">{{language.AllChats}}</view>
  </view>
</view>

<view class="chatBox" wx:for="{{list}}" wx:key="index" data-img="{{item.img}}" data-id="{{item.name}}" bindtap="navChat">
  <view class="chatBox_img">
    <image src="{{item.img}}"></image>
  </view>
  <view class="chatBox_info">
    <view class="chatBox_name">{{item.name}}</view>
    <view class="chatBox_text">Excepteur sint occaecat cupidatat non
proident, sunt in culpa</view>
  </view>
  <view class="chatBox_time">
    Yesterday
    <van-icon name="arrow" style="margin-top:100rpx"></van-icon>
  </view>
</view>