<!--Company/Post/Post.wxml-->
<view class="tabbar">
  <view  data-url="Home" bindtap="navTabbar">
    <image src="../../images/tabbarLogo/Home.png"></image><text>Home</text>
  </view>
  <view data-url="Applicant" bindtap="navTabbar">
    <image src="../../images/tabbarLogo/Applicant.png"></image><text>Applicant</text>
  </view>
  <view>
    <image src="../../images/tabbarLogo/Post1.png"></image><text>Post</text>
  </view>
  <view data-url="Chat" bindtap="navTabbar">
    <image src="../../images/tabbarLogo/Chat.png"></image><text>Chat</text>
  </view>
  <view data-url="Profile" bindtap="navTabbar">
    <image src="../../images/tabbarLogo/Account.png"></image><text>Profile</text>
  </view>
</view>


<view class="add" bindtap="navPost">+</view>

<van-tabs color="#292A6F" active="{{ active }}" bind:change="onChange">
  <van-tab title="Open">
    <view class="All">
      <view class="All_title">
        <view class="All_title_text">All open job post</view>
        <view class="All_title_img">
          <image src="../../images/tabbarLogo/more.png"></image>
        </view>
      </view>

      <!-- Jobs around the world -->
      <view class="Jobs">
        <view class="Jobs_box" data-id="{{index}}" catchtap="navDe" wx:for="wwwwwwww" wx:key="index">
          <view class="Jobs_box_img">
            <image></image>
          </view>
          <view class="Jobs_box_info">
            <view class="Jobs_box_info_title">Job Title</view>
            <view class="Jobs_box_info_name">Company name</view>
            <view class="Jobs_box_info_pay">Location Salary Posted date Applicants</view>
          </view>
          <view class="Jobs_box_info_arrow">
            <van-icon size="60rpx" name="arrow" />
          </view>
        </view>
      </view>
    </view>
  </van-tab>
  <van-tab title="Paused">
    <view class="Shortlisted">
      <view class="All_title">
        <view class="All_title_text">All closed job post</view>
        <view class="All_title_img">
          <image src="../../images/tabbarLogo/more.png"></image>
        </view>
      </view>

      <!-- Jobs around the world -->
      <view class="Jobs">
        <view class="Jobs_box" data-id="{{index}}" catchtap="navDeDel" wx:for="itemwww" wx:key="index">
          <view class="Jobs_box_img">
            <image></image>
          </view>
          <view class="Jobs_box_info">
            <view class="Jobs_box_info_title">Job Title</view>
            <view class="Jobs_box_info_name">Company name</view>
            <view class="Jobs_box_info_pay">Location Salary Posted date Applicants</view>
          </view>
          <view class="Jobs_box_info_chat" catchtap="test">
            Chat
          </view>
        </view>
      </view>
    </view>
  </van-tab>
  <van-tab title="Closed">
    <view class="Shortlisted">
      <view class="All_title">
        <view class="All_title_text">All paused job post</view>
        <view class="All_title_img">
          <image src="../../images/tabbarLogo/more.png"></image>
        </view>
      </view>

      <!-- Jobs around the world -->
      <view class="Jobs">
        <view class="Jobs_box" data-id="{{index}}" catchtap="navDeDel" wx:for="itemwww" wx:key="index">
          <view class="Jobs_box_img">
            <image></image>
          </view>
          <view class="Jobs_box_info">
            <view class="Jobs_box_info_title">Job Title</view>
            <view class="Jobs_box_info_name">Company name</view>
            <view class="Jobs_box_info_pay">Location Salary Posted date Applicants</view>
          </view>
          <view class="Jobs_box_info_arrow">
            <van-icon size="60rpx" name="arrow" />
          </view>
        </view>
      </view>
    </view>
  </van-tab>
</van-tabs>
















<view style="padding-bottom: 90rpx"></view>