/* Advisor/Signup/Application/Application2.wxss */
.progress{
  margin-top: 30rpx;
  width: 650rpx;
  margin: 30rpx auto;
}
.Columns{
  margin-top: 30rpx;
  padding-bottom: 10rpx;
}
.Columns_text{
  display: flex;
  flex-direction: row;
}
.Columns_text_left{
  line-height: 40rpx;
  margin-left: 50rpx;
  font-size: 30rpx;
  font-weight: bold;
  margin-top: 10rpx;
}
.Columns_text_left3{
  line-height: 10rpx;
  font-size: 25rpx;
  font-weight: bold;
  color: #ff0800;
}
.Columns_text .van-icon{
  margin-top: -20rpx;
}
.Columns_text_right{
  line-height: 10rpx;
  float:right;
  font-size: 28rpx;
  position:absolute;
  margin-left: 87vw;
}
.aboutBox{

}
.aboutBox_test{
  margin: 30rpx auto;
  width: 650rpx;
  font-size: 35rpx;
  height: 100rpx;
  background-color: #f5f5f5;
  border-radius: 10rpx;
}
.aboutBox_test23{
  margin: 30rpx auto;
  width: 90vw;
  font-size: 50rpx;
  height: 100rpx;
  background-color: #f5f5f5;
  border-radius: 10rpx;
}
.aboutBox1{
  border-bottom: 15rpx solid rgb(245, 245, 245);
}
.aboutBox_test1{
  margin: 30rpx auto;
  width: 90vw;
  font-size: 30rpx;
  height: 300rpx;
  background-color: #f5f5f5;
  border-radius: 10rpx;
}
.Btn{
  margin-top: 60rpx;
  background-color: white;
  border: 1rpx solid #21A5DD;
  border-radius: 20rpx;
  color: #21A5DD;
  padding-top: 30rpx;
  margin-bottom: 30rpx;
}