<!--Advisor/Course/Course.wxml-->
<!-- tabbar -->
<view class="tabbar">
  <view data-url="Home" bindtap="navTabbar">
    <image src="../../images/tabbarLogo/Home.png"></image><text>Home</text>
  </view>
  <view>
    <image src="../../images/tabbarLogo/Course1.png"></image><text>Course</text>
  </view>
  <view data-url="Chat" bindtap="navTabbar">
    <image src="../../images/tabbarLogo/Chat.png"></image><text>Chat</text>
  </view>
  <view data-url="Account" bindtap="navTabbar">
    <image src="../../images/tabbarLogo/Account.png"></image><text>Account</text>
  </view>
</view>


<view class="add" bindtap="navPost">+</view>



<van-tabs active="{{ active }}" bind:change="onChange" color="#292A6F">
  <view style="border-bottom: 15rpx solid rgb(245, 245, 245);margin:20rpx 0"></view>
  <van-tab title="Courses">
    <view class="Courses_title">
      <view class="Courses_title1">All Courses</view>
      <view class="Courses_title2">
        <image src="../../images/tabbarLogo/more.png"></image>
      </view>
    </view>
    <view class="AllCourses">
      <view class="AllCourses_box" data-id="{{item.id}}" wx:for="{{courses}}" wx:key="index" catchtap="navMes">
        <view class="AllCourses_box_img">
          <image class="AllCourses_box_img" src="{{item.course_image}}"></image>
        </view>
        <view class="AllCourses_box_title">
          <view class="AllCourses_box_title1">{{item.course_name}}</view>
          <view class="AllCourses_box_title2">04:10m</view>
        </view>
      </view>
    </view>
  </van-tab>
  <van-tab title="Articles">
    <view class="Courses_title">
      <view class="Courses_title1">All Articles</view>
      <view class="Courses_title2">
        <image src="../../images/tabbarLogo/more.png"></image>
      </view>
    </view>
    <view class="Articles_box" wx:for="{{articles}}" wx:key="index">
    <view class="Articles_box_img" bindtap="goarticle" data-id="{{item.id}}">
    <image class="Articles_box_img1" src="{{item.postimage}}"></image>
    </view>
    <view class="Articles_box_text">
      <view class="Articles_box_text1_like" style="opacity:{{0.8}}">
        <image src="{{favor_img}}" bindtap="Like1" wx:if="{{show === true}}" mode="widthFix"></image>
        <image src="{{favor_img2}}" bindtap="Like1" wx:else mode="widthFix"></image>
      </view>
      <view class="Articles_box_text1_title" bindtap="goarticle" data-id="{{item.id}}">
        {{item.name}}
      </view>
      <view class="Articles_box_text1_share">
          <text>{{item.likes}}Likes</text>

          <image src="../static/tabbarLogo/share.png"></image>
          <button  open-type="share" style="position: relative; width: 82rpx; height: 50rpx; display: block; box-sizing: border-box;margin-left: 0;"><view style="position: relative; margin-left: 0rpx; top: -8rpx; width: 103rpx; height: 34rpx; display: block; box-sizing: border-box; font-size: 25rpx; color: rgb(140,140,140); left: -54rpx">Share</view></button>
          </view>
        </view>
      </view>
  </van-tab>
</van-tabs>

<van-dialog
  use-slot
  show="{{ show }}"
  bind:close="onClose"
  show-confirm-button="{{showconfirmbutton}}"
  close-on-click-overlay
>
<van-icon name="cross" size="30px" class="icon" bindtap="onClose"/>
<button class="post" bindtap="pc">Post Course</button>
<button class="post" bindtap="pa">Post Article</button>
</van-dialog>


<view style="padding-bottom:9vh"></view>