/* tabbar */
.tabbar{
  position: fixed;
  margin-top: 92vh;
  width: 100vw;
  height: 8vh;
  background-color: white;
  z-index: 9999;
  border-top: 1rpx rgb(231, 231, 231) solid;
  display: flex;
  margin-bottom: 200rpx;
}
.tabbar view{
  margin-top: 15rpx;
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.tabbar view text{
  font-size: 25rpx;
}
.tabbar image{
  margin-left: 67rpx;
  width: 60rpx;
  height: 60rpx;
}
.headNav{
  background-color: white;
  height: 68rpx;
  padding-top: 80rpx;
  display: flex;
  flex-direction: row;
  width: 100vw;
  border-bottom: 1rpx solid #C8C8C8;
  font-weight: 500;
  line-height: 40rpx;
  position: fixed;
  z-index: 999;
  overflow: hidden;
}
.navBack{
  width: 50rpx;
  height: 40rpx;
  margin-left: 20rpx;
}
.navBack image{
  width: 50rpx;
  height: 40rpx;
}
.headNav view{
  width: 33%;
}
.head_text{
  text-align: center;
}

.Columns{
  margin-top: 30rpx;
  border-bottom: 1rpx solid rgb(242, 242, 242);
  padding-bottom: 40rpx;
}
.Columns_text{
  display: flex;
  flex-direction: row;
}
.Columns_text_left{
  line-height: 10rpx;
  margin-left: 30rpx;
  font-size: 35rpx;
  font-weight: bold;
  color: #292A6F;
}
.Columns_text_right{
  line-height: 10rpx;
  float:right;
  color: #FBA928;
  font-weight: bold;
  font-size: 28rpx;
  position:absolute;
  margin-left: 83vw;
}


/* choose */
.choose{
  width: 96vw;
  margin: 0 auto;
}
.choose_box{
  display: flex;
  flex-direction: row;
}
.choose_img{
  width: 88vw;
  margin: 20rpx auto;
  height: 300rpx;
  background-color: #F6F7FA;
  border-radius: 20rpx;
}
.choose_1{
  width: 46vw !important;
  height: 110rpx;
  background-color: white;
  border: 5rpx solid #21A5DD;
  border-radius: 20rpx;
  color: #21A5DD;
}
.choose_2{
  width: 46vw !important;
  height: 110rpx;
  background-color: white;
  border: 5rpx solid #21A5DD;
  border-radius: 20rpx;
  color: #21A5DD;
}



/* content */
.content{
  margin-top: 30rpx;
}
.content_theme{
  margin: 0 auto;
  padding: 20rpx;
  width: 88vw;
  border-radius: 15rpx;
  background-color: #F6F7FA;
  display: flex;
  flex-direction: row;
}
.content_theme_img{
  width: 150rpx;
  height: 150rpx;
  background-color: #C4C4C4;
  border-radius: 25rpx;
}
.content_theme_img image{
  width: 100%;
  height: 100%;
}
.content_theme_text{
  width: 300rpx;
  font-weight: bold;
  margin-top: 25rpx;
  margin-left: 30rpx;
  line-height: 50rpx;
  font-size: 35rpx;
}
.content_theme_btn{
  margin-top: 45rpx;
  margin-left: 160rpx;
  width: 130rpx;
  text-align: center;
  height: 50rpx;
  line-height: 50rpx;
  font-size: 30rpx;
  border: 5rpx solid #21A5DD;
  border-radius: 15rpx;
  color: #21A5DD;
}
.copyBtn{
  opacity: 0.8;
}

.content_line{
  margin-top: 40rpx;
  width: 100vw;
  height: 15rpx;
  background-color: #F5F5F5;
  margin-bottom: 50rpx;
}



.Advisors{
  padding-bottom: 50rpx;
  border-bottom: 15rpx solid rgb(245, 245, 245);
  margin-bottom: 50rpx;
}
.Advisors_box{
  width: 340rpx;
  height: 570rpx;
  display: inline-block;
  margin-left: 25rpx;
  margin-top: 20rpx;
  border-radius: 10rpx;
  overflow: hidden;
}
.Advisors_box_img{
  width: 100%;
  height: 70%;
  background-color: rgb(240, 240, 240);
}
.Advisors_box_img1{
  width: 100%;
  height: 70%;
  background-color: rgb(240, 240, 240);
}
.Advisors_box_text{
  width: 100%;
  height: 30%;
  background-color: #292A6F;
  padding: 20rpx;
  font-size: 27rpx;
  color: white;
}
.Advisors_box_text_name{
  position: absolute;
  font-weight: bold;
}
.Advisors_box_text_but{
  position: absolute;
  margin-left: 150rpx;
  background-color: rgb(228, 229, 231);
  padding: 10rpx 20rpx 10rpx 20rpx;
  color: black;
  border-radius: 28rpx;
  font-size: 23rpx;
}
.Advisors_box_text_time{
  position: absolute;
  margin-top: 45rpx;
  color: rgb(217, 217, 217);
}
.Advisors_box_text_do{
  display: flex;
  flex-direction: row;
  margin-top: 100rpx;
  font-size: 25rpx;
  margin-left: -55rpx;
}
.Advisors_box_text_do image{
  width: 35rpx;
  height: 35rpx;
  margin-left: 10rpx;
  margin-right: 5rpx;
  padding-left: 55rpx;
}
.Advisors_box_text_do text{
  position: absolute;
  line-height: 35rpx;
}

.Explore_Advisors{
  margin-top: 20rpx;
  margin-bottom: 120rpx;
  margin-left: 20rpx;
}
.Explore_Advisors1{
  display: inline-block;
}
.Explore_Advisors_box{
  width: 331rpx;
  height: 225rpx;
  background-color: rgb(196, 196, 196);
  border-radius: 20rpx;
  margin: 10rpx;
}
.Explore_Advisors_box image{
  width: 331rpx;
  height: 225rpx;
}
.Explore_Advisors_box_text{
  margin-top: -90rpx;
  margin-left: 22rpx;
  color: white;
}
.Explore_Advisors_box_text1{
  font-size: 30rpx;
}
.Explore_Advisors_box_text2{
  font-size: 23rpx;
}
.search{
  display: flex;
  flex-direction: row;
}
.search van-search{
  border-radius: 30rpx;
  width: 650rpx;
}
.search image{
  margin-top: 30rpx;
  width: 50rpx;
  height: 50rpx;
}

.post{
  margin-top: 50rpx;
  margin-bottom: 50rpx;
  background-color: #21A5DD;
  color: #ffffff;
  border-radius: 20rpx;
}

.icon{
  margin-left: 550rpx;
}