<!--pages/Account/Profile/Profile.wxml-->


<!-- selfInfo -->
<view class="selfInfo">
  <view class="selfInfo_img">
    <image src="{{avatar1}}"></image>
    <view class="selfInfo_img_modify" wx:if="{{imgs.length >= 3 ? false : true}}" catchtap="uploadPhoto"><image src="../../static/tabbarLogo/pen.png"></image></view>
  </view>
  <view class="selfInfo_info">
    <view class="selfInfo_info1">{{lastname}} {{firstname}}</view>
    <view class="selfInfo_info2">{{email}}</view>
  </view>
  <view class="selfInfo_modify">
    <van-icon size="50rpx" name="edit" bindtap="goupdate" />
  </view>
  <view class="selfInfo_position" wx:for="{{userinfo}}" wx:key="index">{{value.item.aboutInfo}}
   <input bindtap="PostUserInfo"></input>
  </view>
</view>

<view class="aboutBox" >
  <!--PhoneNumber输入框-->
  <view class="Columns">
  <view class="Columns_text">
    <view class="Columns_text_left">{{language.PhoneNumber}}</view>
    <view class="Columns_text_right">
    </view>
  </view>
</view>
  <view class="aboutBox_test">{{phone_number}}</view>
  <!--DOB输入框-->
  <view class="Columns">
   <view class="Columns_text">
    <view class="Columns_text_left">{{language.DOB}}</view>
    <view class="Columns_text_right">
    </view>
   </view>
  </view>  
   <view class="aboutBox_test">{{dob}}</view>
   <!--Age输入框-->
   <view class="Columns">
   <view class="Columns_text">
    <view class="Columns_text_left">{{language.Age}}</view>
    <view class="Columns_text_right">
    </view>
   </view>
  </view> 
  <view class="aboutBox_test">{{age}}</view>
   <!--Address输入框-->
   <view class="Columns">
   <view class="Columns_text">
    <view class="Columns_text_left">{{language.Address}}</view>
    <view class="Columns_text_right">
    </view>
   </view>
  </view> 
  <view class="aboutBox_test">{{address}}</view>
   <!--City输入框-->
   <view class="Columns">
   <view class="Columns_text">
    <view class="Columns_text_left">{{language.City}}</view>
    <view class="Columns_text_right">
    </view>
   </view>
  </view> 
  <view class="aboutBox_test">{{city}}</view>
   <!--State输入框-->
   <view class="Columns">
   <view class="Columns_text">
    <view class="Columns_text_left">{{language.State}}</view>
    <view class="Columns_text_right">
    </view>
   </view>
  </view> 
  <view class="aboutBox_test">{{state}}</view>
   <!--Postal code输入框-->
   <view class="Columns">
   <view class="Columns_text">
    <view class="Columns_text_left">{{language.PostalCode}}</view>
    <view class="Columns_text_right">
    </view>
   </view>
  </view> 
  <view class="aboutBox_test">{{postalcode}}</view>


</view>

<view class="aboutBox">
  <!--About-->
  <view class="Columns">
  <view class="Columns_text">
    <view class="Columns_text_left">{{language.About}}</view>
    <view class="Columns_text_right">
      <van-icon size="50rpx" name="edit" bindtap="updateabout" />
    </view>
  </view>
</view>
  <text class="aboutBox_test2">{{userinfo}}</text>
</view>

<view class="aboutBox">
  <!--Education-->
  <view class="Columns">
  <view class="Columns_text">
    <view class="Columns_text_left">{{language.Education}}</view>
    <view class="Columns_text_right">
    </view>
  </view>
 </view>
 <view  class="aboutBox_test">
 {{education}}
 </view>
   <!--Year of graduate-->
   <view class="Columns">
  <view class="Columns_text">
    <view class="Columns_text_left">{{language.YearOfGraduate}}</view>
    <view class="Columns_text_right">
    </view>
  </view>
 </view>
 <view class="aboutBox_test">{{yearofgraduate}}</view>
    <!--School / University-->
    <view class="Columns">
  <view class="Columns_text">
    <view class="Columns_text_left">{{language.SchoolUniversity}}</view>
    <view class="Columns_text_right">
    </view>
  </view>
 </view>
 <view class="aboutBox_test">{{school_university}}</view>
</view>


<view class="aboutBox" >
      <!--Year of experience-->
      <view class="Columns1">
  <view class="Columns_text1">
    <view class="Columns_text_left1">{{language.Experience}}</view>
    <view class="Columns_text_right1">
    </view>
  </view>
 </view>
    <!--Year of experience-->
    <view class="Columns">
  <view class="Columns_text">
    <view class="Columns_text_left">{{language.YearOfExperience}}</view>
    <view class="Columns_text_right">
    </view>
  </view>
 </view>
 <view class="aboutBox_test" wx:for="{{experiences}}" wx:key="index">{{item.no_of_years}}</view>
     <!--Language-->
     <view class="Columns">
  <view class="Columns_text">
    <view class="Columns_text_left">{{language.Language}}</view>
    <view class="Columns_text_right">
    </view>
  </view>
 </view>
 <view class="aboutBox_test">{{languages}}</view>

</view>

<view class="aboutBox">
  <!--Career goals-->
  <view class="Columns1">
  <view class="Columns_text1">
    <view class="Columns_text_left1">{{language.CareerGoals}}</view>
    <view class="Columns_text_right1">
    </view>
  </view>
 </view>
    <!--Industry-->
    <view class="Columns">
  <view class="Columns_text">
    <view class="Columns_text_left">{{language.Industry}}</view>
    <view class="Columns_text_right">
    </view>
  </view>
 </view>
 <view  class="aboutBox_test" >{{industries}}</view>
     <!--Job role-->
     <view class="Columns">
  <view class="Columns_text">
    <view class="Columns_text_left">{{language.JobRole}}</view>
    <view class="Columns_text_right">
    </view>
  </view>
 </view>
 <view class="aboutBox_test" >{{job_roles}}</view>
      <!--Location-->
      <view class="Columns">
  <view class="Columns_text">
    <view class="Columns_text_left">{{language.Location}}</view>
    <view class="Columns_text_right">
    </view>
  </view>
 </view>
 <view class="aboutBox_test">{{locations}}</view>

</view>

<view class="aboutBox" >
 
  <!--Training goals-->
  <view class="Columns">
  <view class="Columns_text">
    <view class="Columns_text_left">{{language.TrainingGoals}}</view>
    <view class="Columns_text_right">
    </view>
  </view>
 </view>
 <view class="aboutBox_test" >{{training_goals}}</view>
  <!--Resume-->
  <view class="Columns">
  <view class="Columns_text">
    <view class="Columns_text_left">{{language.Resume}}</view>
    <view class="Columns_text_right">
    </view>
  </view>
 </view>
 <view class="Resume">
  <!-- Resume_file -->
  <view class="Resume_fileBox" bindtap="chooseFile" wx:if="{{Resume_file.length <= 0}}" >
    <view class="Resume_file">
      <view class="Resume_file_img">
        <image src="../../static/tabbarLogo/text.png"></image>
      </view>
      <view class="Resume_file_text">{{language.UploadResume}}</view>
    </view>
  </view>
  <view class="Resume_fileBox" wx:else>
    <view class="Resume_file1">
      <view class="Resume_file_text1"></view>
    </view>
  </view>
  <!-- Resume_video -->
  <view class="Resume_videoBox" bindtap="chooseVideo" wx:if="{{Resume_video.length <= 0}}">
    <view class="Resume_video">
      <view class="Resume_file">
        <view class="Resume_file_img">
          <image src="../../static/tabbarLogo/video.png"></image>
        </view>
        <view class="Resume_file_text">{{language.UploadVideo}}</view>
      </view>
    </view>
  </view>
  <view class="Resume_fileBox" style="margin-left: 2vw;" wx:else>
    <view class="Resume_file1">
      <view class="Resume_file_text1">{{language.Play}}</view>
    </view>
  </view>
</view>

</view>


<view class="aboutBox" >
  <!--Contact-->
  <view class="Columns1">
  <view class="Columns_text1">
    <view class="Columns_text_left1">{{language.Contact}}</view>
    <view class="Columns_text_right1">
    </view>
  </view>
 </view>
    <!--LinkedIn-->
    <view class="Columns">
  <view class="Columns_text">
    <view class="Columns_text_left">{{language.YourLinkedInProfile}}</view>
    <view class="Columns_text_right">
    </view>
  </view>
 </view>
 <view class="aboutBox_test">{{linkedin_profile}}</view>
    <!--Email-->
    <view class="Columns">
  <view class="Columns_text">
    <view class="Columns_text_left">{{language.Email}}</view>
    <view class="Columns_text_right">
    </view>
  </view>
 </view>
 <view class="aboutBox_test">{{email}}</view>


</view>