<!--pages/Start/Login/Login.wxml-->

<view style="margin-bottom: 100rpx"></view>


<view class="enter"><input data-type="full_name" bindinput="inputHandler" placeholder="{{language.FullName}}"  type="text" /></view>
<view class="enter"><input data-type="email" bindinput="inputHandler" placeholder="{{language.Email}}" type="text" /></view>



<view class="ind_container">
   <input class="commeon_css tel_input">
        <view class="commeon_css tel_input">
            <picker class="tel_left"  style="display: flex; min-width: 15%; margin-right: 25rpx; width: 100rpx; height: 52rpx; box-sizing: border-box; left: 24rpx; top: 34rpx; position: relative" bindchange="bindPickerChange" value="{{code}}" range="{{countries}}" range-key="{{'code'}}">
                <view style="font-size: 30rpx">{{code}}</view>
            </picker>
            <view  style="width: 338rpx; height: 52rpx; display: block; box-sizing: border-box; left: 30rpx; top: 34rpx; position: relative">
         <input placeholder="{{language.MobileNumber}}" type="number" maxlength="11" data-type="phone_number"  bindinput="inputHandler" />
       </view>
        </view>
        </input>
</view>


<view class="signUp" hover-class="signUpChange" bindtap="signUp">{{language.SignUp}}</view>

<view class="serve">{{language.BySigningUpYouAcceptTheAnd}} <text bindtap="Term">{{language.TermsOfService}}</text> {{language.And}} <text bindtap="Privacy">{{language.PrivacyPolicy}}</text></view>

<view class="logIn">
  {{language.AlreadyHaveAnAccount}}? <text catchtap="navlog">{{language.LogIn}}</text>
</view>