<!--pages/Start/Privacy/Privacy.wxml-->
<view class="signUp" wx:for="{{privacy}}" wx:key="index">
   <text>{{item.title}}</text>
</view>
<view class="signUp1" wx:for="{{privacy}}" wx:key="index">
   <text>{{item.body}}</text>
</view>