.headNav{
  background-color: white;
  height: 68rpx;
  padding-top: 80rpx;
  display: flex;
  flex-direction: row;
  width: 100vw;
  border-bottom: 1rpx solid #C8C8C8;
  font-weight: 500;
  line-height: 40rpx;
  position: fixed;
  z-index: 999;
  overflow: hidden;
}
.navBack{
  width: 50rpx;
  height: 40rpx;
  margin-left: 20rpx;
}
.navBack image{
  width: 50rpx;
  height: 40rpx;
}
.headNav view{
  width: 33%;
}
.head_text{
  text-align: center;
}

.search{
  display: flex;
  flex-direction: row;
  line-height: 120rpx;
}
.search van-search{
  border-radius: 30rpx;
  width: 520rpx;
}
.search image{
  margin-top: 30rpx;
  width: 50rpx;
  height: 50rpx;
}
.category{
  margin-left: 10rpx;
  margin-bottom: 20rpx;
  margin-right: 25rpx;
}
.category_box{
  display: inline-block;
}
.selected{
  padding: 10rpx 30rpx 10rpx 30rpx;
  background-color: #21A5DD;
  border-radius: 10rpx;
  margin: 5rpx;
  color: white;
  font-size: 25rpx;
}
.normal{
  padding: 10rpx 30rpx 10rpx 30rpx;
  background-color: rgb(223, 223, 223);
  border-radius: 10rpx;
  margin: 5rpx;
  color:rgb(117, 127, 140);
  font-size: 25rpx;
}
.Columns{
  margin-top: 40rpx;
  border-bottom: 1rpx solid rgb(242, 242, 242);
  padding-bottom: 40rpx;
}
.Columns_text{
  display: flex;
  flex-direction: row;
}
.Columns_text_left{
  line-height: 10rpx;
  margin-left: 30rpx;
  font-size: 35rpx;
  font-weight: bold;
  color: #292A6F;
}
.Columns_text_right{
  line-height: 10rpx;
  float:right;
  font-size: 28rpx;
  position:absolute;
  margin-left: 83vw;
  color: #FBA928;
  font-weight: bold;
}


/* Jobs based on your alert */
.alert{
  padding-top: 30rpx;
  padding-left: 10rpx;
  border-bottom: 15rpx solid rgb(245, 245, 245);
  margin-right: 30rpx;
}
.alert_box{
  padding: 20rpx;
  display: inline-block;
  width: 560rpx;
  height: 230rpx;
  border-radius: 15rpx;
  margin-left: 10rpx;
  background-color: rgb(246, 247, 250);
}
.alert_box_img{
  background-color: rgb(196, 196, 196);
  width: 150rpx;
  height: 150rpx;
  border-radius: 20rpx;
}
.alert_box_img image{
  width: 100%;
  height: 100%;
}
.alert_box_title{
  margin-left: 20rpx;
  width: 280rpx;
  line-height: 40rpx;
}
.alert_box_title1{
  font-size: 28rpx;
  display: -webkit-box;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: normal !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.alert_box_title2{
  margin-top: 5rpx;
  font-size: 25rpx;
  color: rgb(34, 34, 34);
}
.alert_box_title3{
  margin-top: 15rpx;
  font-size: 23rpx;
  color: rgb(140, 140, 140);
}
.alert_box_save{
  position: absolute;
  width: 100rpx;
  height: 40rpx;
  margin-left: 450rpx;
  border-radius: 100rpx;
  font-size: 25rpx;
  line-height: 40rpx;
  text-align: center;
  background-color: rgb(229, 229, 229);
}
.alert_box_apply{
  position: absolute;
  font-size: 25rpx;
  color: #21A5DD;
  width: 130rpx;
  height: 50rpx;
  text-align: center;
  line-height: 50rpx;
  border: #21A5DD 1rpx solid;
  border-radius: 10rpx;
  margin-top: 170rpx;
  margin-left: 225rpx;
}



/* Jobs */
.Jobs_box{
  z-index: -9999;
  width: 100%;
  height: 180rpx;
  margin-bottom: 15rpx;
  padding-top: 15rpx;
  border-bottom: rgb(240, 240, 240) 1rpx solid;
  display: flex;
  flex-direction: row;
}
.Jobs_box_img{
  width: 140rpx;
  height: 140rpx;
  border-radius: 20rpx;
  margin-top: 20rpx;
  margin-left: 30rpx;
}
.Jobs_box_img image{
  width: 140rpx;
  height: 140rpx;
}
.Jobs_box_info{
  line-height: 40rpx;
  letter-spacing: 2rpx;
  margin-top: 20rpx;
  margin-left: 20rpx;
}
.Jobs_box_info_title{
  font-size: 33rpx;
  font-weight: bold;
  color: rgb(34, 34, 34);
}
.Jobs_box_info_name{
  font-size: 28rpx;
  color: rgb(34, 34, 34);
}
.Jobs_box_info_pay{
  font-size: 21rpx;
  color: rgb(140, 140, 140);
}
.Jobs_box_info_arrow{
  position: absolute;
  margin-left: 88%;
  line-height: 210rpx;
}


/* overlay */
.overlayShow{
  position: absolute;
  top: 0;
  z-index: 99999;
  width: 100%;
  background-color: white;
  animation: show 0.3s;
  padding-bottom: 250rpx;
}
.overlayHide{
  display: none;
}
@keyframes show{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.overlay_top{
  display: flex;
  flex-direction: row;
  text-align: center;
  border-bottom: 1rpx rgb(231, 231, 231) solid;
  padding-bottom: 25rpx;
}
.overlay_top_c1{
  font-size: 35rpx;
}
.overlay_top_filter{
  font-weight: bold;
}
.overlay_top view{
  width: 33.3%;
}
.overlay_select{
  font-size: 28rpx;
  border-bottom: 1rpx rgb(231, 231, 231) solid;
}
.overlay_select_title{
  font-size: 34rpx;
  font-weight: bold;
  margin-left: 20rpx;
}

.overlay_done{
  position: fixed;
  top: 85vh;
  left: 15vw;
  width: 70vw;
  height: 110rpx;
  line-height: 110rpx;
  text-align: center;
  background-color: #21A5DD;
  border-radius: 20rpx;
  color: white;
  font-weight: bold;
}
.overlay_done1{
  background-color: rgb(66, 66, 66);
}